<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.trentabitplus.digitaltextsuite">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_D_squared"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_D_circular"
        android:supportsRtl="true"
        android:theme="@style/Theme.DigitalPhotoEditor">
        <activity android:name="it.trentabitplus.digitaltextsuite.activities.DeleteTranslationModulesActivity"
            android:screenOrientation="portrait"/>

        <receiver android:name="it.trentabitplus.digitaltextsuite.notifications.NotificationReceiver" />

        <activity
            android:name="it.trentabitplus.digitaltextsuite.activities.PlayWithEmojiActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name="it.trentabitplus.digitaltextsuite.activities.DigitalInkActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />

        <receiver android:name="it.trentabitplus.digitaltextsuite.widget.MyAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/my_app_widget_info" />
        </receiver>

        <activity
            android:name="it.trentabitplus.digitaltextsuite.activities.TextResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="it.trentabitplus.digitaltextsuite.activities.RealMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="it.trentabitplus.digitaltextsuite.activities.TutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="it.trentabitplus.digitaltextsuite.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>